.top-header .logo-icon img{
    max-height: 30px !important;
}

.handlee {
    font-family: "Handlee", cursive;
    font-weight: 700;
    font-style: normal;
}
.fea.icon-md {
    height: 35px;
    width: 35px;
}
.fea {
    stroke-width: 1.8;
}
.logo{
    float: left;
    font-weight: bold;
    margin-right: 15px;
    display: flex;
    align-items: center;
    font-size: 24px;
}