html {
  scroll-behavior: smooth;
}
.bg-half-160{
    padding: 160px 0;
    background-size: cover !important;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative !important;
    background-position: center center;
}

#topnav .logo img{
    max-height: 44px;
}

@media screen and (max-width: 600px) {
    .buy-button .btn{
        padding: 7px 16px;
        font-size: 10px;
    }
}
.nav-link.rounded{
    background-color: #efefef;
    /* border-radius: 0px !important; */
}
.nav.nav-pills .nav-item:first-child .nav-link.rounded{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.nav.nav-pills .nav-item:last-child .nav-link.rounded{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
input::placeholder {
  color: #CCCCCC;
}
.text-xs{
    font-size: 10px;
}
.handlee {
    font-family: "Handlee", cursive;
    font-weight: 700;
    font-style: normal;
}
.logo{
    padding-bottom: 0px;
    line-height: 74px;
    position: relative;
}
.logo h3{
    display: inline-block;
}
#topnav .buy-button{
    margin-left: 0px;
    padding-left: 0px;
}
.btn-group-sm>.btn, .btn.btn-sm{
    font-size: 12px;
}

.my-30{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.mb-30{
   margin-bottom: 30px !important;
}
.mb-20{
   margin-bottom: 20px !important;
}
.p-30{
    padding: 30px !important;
}
.mb-6 {
  margin-bottom: 3.5rem !important;
}
.mb-7 {
  margin-bottom: 4rem !important;
}
.mb-8 {
  margin-bottom: 4.5rem !important;
}
.mb-9 {
  margin-bottom: 6rem !important;
}
.mb-10 {
  margin-bottom: 6.5rem !important;
}
.py-100 {
  padding: 100px 0;
  background-size: cover !important;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative !important;
  background-position: center center;
}
.py-50 {
  padding: 50px 0;
  background-size: cover !important;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative !important;
  background-position: center center;
}
.cursor-pointer {
  cursor: pointer;
}
.btn-block{
    display: block;
    width: 100%;
}
.form-heading h4{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 700;
}
hr {
    margin: 0.5rem 0;
    color: #dedede;
    border: 0;
    border-top: 2px solid;
    opacity: .25;
}
.form-control-lg {
    min-height: calc(1.5em + 2rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0rem;
}

.domain-search.form-control:focus {
    border: none; 
    /* rgb(151, 170, 233.5); */
    -webkit-box-shadow: 0 0 0 .25rem rgba(47, 85, 212, .25);
    box-shadow: 0 0 0 .25rem rgba(47, 85, 212, .25);
}
.domain-search-container{
    border-color: rgb(151, 170, 233.5);
    -webkit-box-shadow: 0 0 0 .50rem rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 0 .50rem rgba(255, 255, 255, 0.25);
    border-radius: 6px;
}

.glass-box {
  background: rgba(255, 255, 255, 0.30);  
  backdrop-filter: blur(25px);            
  -webkit-backdrop-filter: blur(25px);    
  border: 1px solid rgba(255, 255, 255, 0.5); 
  border-radius: 16px; 
}
.blob {
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: multiply;
  filter: blur(80px);
  opacity: 0.3;
  animation: pulse 6s infinite alternate ease-in-out;
}
.card-heading{
    font-size: 26px !important;
    margin-bottom: 20px;
    font-weight: 700;
}
@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }
}


.card-wrapper {
  position: relative;
  height: 360px;
}
.card-wrapper.small{
    height: 220px;
}

.back-card {
  /* background: #60a5fa; */
  background: rgba(255, 255, 255, 0.30);  
  backdrop-filter: blur(25px);            
  -webkit-backdrop-filter: blur(25px);    
  border: 1px solid rgba(255, 255, 255, 0.5); 
  height: 100%;
  border-radius: 8px;
  transition: 0.5s ease;
}
.back-card.green {
  background: #34d399;
}

.card-wrapper:hover .back-card {
  transform: rotate(-5deg) scale(1.05);
}

.top-card {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  background: white;
  height: 100%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.12);
  transition: 0.4s;
}

.card-content:hover {
  box-shadow: 0px 6px 18px rgba(0,0,0,0.18);
}

.icon-size {
  height: 60px;
  width: 60px;
}
.icon-lg {
    font-size: 50px;
}
.mb-100{
    margin-bottom: 100px !important;
}
.mt-50{
    margin-top: 50px !important;
}
.mt-60{
    margin-top: 60px !important;
}
.mt-70{
    margin-top: 70px !important;
}
.mt-80{ 
    margin-top: 80px !important;
}
.mt-90{ 
    margin-top: 90px !important;
}
.mt-100{ 
    margin-top: 100px !important;
}

.cross-button:hover {
  background: #efefef !important;
  border-color: #6c757d;
}